.items-header{
  width:100%;
  background-color: gray;
  color: white;
  height: 50px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.heading{
  margin-left: 10px;;
}

.main-page{
  display: flex;

}
.buttons{
  display:flex;
  justify-content: space-between;
}
.btn-grp{
  margin:10px;
}
.btn{
  margin-right:5px;
  width:70px;
  border-radius: 2px;
}
.sidebar{
  display:flex;
  flex-direction: column;
  width:25%;
  height:100vh;
  border-right: 1px solid black;
}
.sidebar__item{
  padding:15px;
  border-bottom: 1px solid black;
}
.aside{
  margin:60px;
  display:flex;
  flex-direction:column;
}
.selected{
  background-color: aqua;
}
.field{
  margin-bottom: 50px;
}
.margin-x-small{
  margin-left: 5px;
}
.margin-y-small{
  margin-bottom: 5px;
}